<li class="task-item" data-task-id="<%= task.id %>">
    <div class="card mb-3">
        <div class="card-body">
            
            <div class="d-flex justify-content-between">
                
                <div class="task-icons mb-3">
                    <i class="fas fa-grip-vertical grip text-secondary grabbable"></i>
                    <%= render(ProgressBadgeComponent.new(status: status))%>
                </div>
                    
                <div>
                    <%= render(StatusChangesComponent.new(task_id: task.id, status: status))%>

                    <%= link_to edit_project_task_path(task.project, task), class: 'btn btn-secondary btn-sm' do %>
                        <i class="far fa-edit"></i>
                    <% end %>
                    <%= link_to [task.project, task], method: :delete, 
                        data: { confirm: "Are you sure you want to delete '#{task.name}'?" },
                        class: 'btn btn-dark btn-sm' do %>
                        <i class="far fa-trash-alt"></i>
                    <% end %>
                </div>

            </div>
            
            <h4 class='card-title mb-2'>
                <span><%= task.name %></span>
            </h4>
            <hr class="inner-card-hr" />
            <p class="mt-2"><%= task.description %></p>

        </div>
    </div>
</li>
